<div id="page">
  <div id="fh5co-blog" class="fh5co-section">
    <div class="container">
      <div class="row animate-box">
        <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
          <h2>Events</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, consequatur. Aliquam quaerat pariatur
            repellendus veniam nemo, saepe, culpa eius aspernatur cumque suscipit quae nobis illo tempora. Eum veniam
            necessitatibus, blanditiis facilis quidem dolore! Dolorem, molestiae.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="fh5co-blog animate-box">
            <a href="#" class="blog-bg" style="background-image: url(images/gallery_1.jpeg);"></a>
            <div class="blog-text">
              <span class="posted_on">Feb. 15th 2016</span>
              <h3><a href="#">Photoshoot On The Street</a></h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
                the blind texts.</p>
              <ul class="stuff">
                <li><i class="icon-heart2"></i>1.2K</li>
                <li><i class="icon-eye2"></i>2K</li>
                <li><a href="#">Read More<i class="icon-arrow-right22"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="fh5co-blog animate-box">
            <a href="#" class="blog-bg" style="background-image: url(images/gallery_2.jpeg);"></a>
            <div class="blog-text">
              <span class="posted_on">Feb. 15th 2016</span>
              <h3><a href="#">Surfing at Philippines</a></h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
                the blind texts.</p>
              <ul class="stuff">
                <li><i class="icon-heart2"></i>1.2K</li>
                <li><i class="icon-eye2"></i>2K</li>
                <li><a href="#">Read More<i class="icon-arrow-right22"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="fh5co-blog animate-box">
            <a href="#" class="blog-bg" style="background-image: url(images/gallery_3.jpeg);"></a>
            <div class="blog-text">
              <span class="posted_on">Feb. 15th 2016</span>
              <h3><a href="#">Focus On Uderwater</a></h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
                the blind texts.</p>
              <ul class="stuff">
                <li><i class="icon-heart2"></i>1.2K</li>
                <li><i class="icon-eye2"></i>2K</li>
                <li><a href="#">Read More<i class="icon-arrow-right22"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
