<div id="page">
  <div id="fh5co-featured-testimony" class="fh5co-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 fh5co-heading animate-box">
          <h2>Testimony</h2>
          <div class="row">
            <div class="col-md-6">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ab debitis sit itaque totam, a
                maiores nihil, nulla magnam porro minima officiis! Doloribus aliquam voluptates corporis et tempora
                consequuntur ipsam, itaque, nesciunt similique commodi omnis.</p>
            </div>
          </div>
        </div>

        <div class="col-md-5 animate-box img-to-responsive animate-box" data-animate-effect="fadeInLeft">
          <img src="assets/images/person_1.jpg" alt="">
        </div>
        <div class="col-md-7 animate-box" data-animate-effect="fadeInRight">
          <blockquote>
            <p> &ldquo; Quantum ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ab debitis sit itaque
              totam, a maiores nihil, nulla magnam porro minima officiis! Doloribus aliquam voluptates corporis et
              tempora consequuntur ipsam. &rdquo;</p>
            <p class="author"><cite>&mdash; Jane Smith</cite></p>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>